# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# Data and outputs
processed-data/
*.csv
*.log

# EXCEPT: keep specific files
!processed-data/final_cleaned_data.csv

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db